<div class="container-fluid d-flex justify-content-center">
    <div class="d-flex flex-column">
        <div class="bd-highlight d-flex justify-content-center">
            <h1>Taches</h1>
            <button class="btn btn-outline-secondary m-1" (click)="loggout()">Logout</button>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <input type="text" id="inputNewList" name="tache" placeholder="Nom de la nouvelle liste" [(ngModel)]="newListeAdd.titre">
            <button class="btn btn-primary m-1" (click)="ajoutliste()">Ajouter</button>
        </div>
        <div>
            <div cdkDropListGroup class="row main">
                <div class="col liste" *ngFor="let liste of liste2; let i = index">
                    <div class="d-flex justify-content-center align-items-center titreListe">
                        <h2>{{liste.titre}}</h2>
                        <button class="btn btn-outline-danger m-1" (click)='supprimerListe(liste)'>Supprimer</button>
                    </div>
                    <div class="d-flex flex-row justify-content-center align-items-center ">
                        <input class="inputAjoutTache" class="saisieInput" type="text" name="tache" placeholder="tache" [(ngModel)]="newTache[i].titre">
                        <button class="buttonAjoutTache" class="btn btn-primary" value="Ajouter" (click)='ajouter(liste)'>Ajouter</button>
                    </div>
                    <div class="d-flex  justify-content-center">
                        <div [ngClass]="{'isEmpty': liste.taches.length === 0 }" cdkDropList [cdkDropListData]="liste.tachesliste" [id]="liste._id ? liste._id : ''" class="d-flex flex-column " (cdkDropListDropped)="drop($event)">
                            <div class="d-flex justify-content-center align-items-center m-1" *ngFor="let tache of liste.tachesliste" cdkDrag>
                                <input (click)="modifier(tache)" type="checkbox" [(ngModel)]="tache.termine">
                                <div [ngClass]="tache.termine? 'text-decoration-line-through' : '' ">{{tache.titre}}</div>
                                <button class="btn btn-outline-danger m-1" (click)='supprimer(tache)'>Supprimer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



